<html>
   
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/index.css">
        <title> Binary to Decimal</title>
    </head>
    <body>
        <div id="title_container">
            <h1>N to Decimal Translator</h1>
        </div>
        <div id ="bottom_color_container"></div>
        <div id="form_container">
            <form action="/inputBinary" method="POST">
                <input class ="input_box" type="text" name = "binary" placeholder=" 2진수">
                <button class ="input_button" type="submit">submit</button>
            </form>
            <p>    &nbsp decimal = <%= binTodeci %> </p>
            <form action="/inputOctal" method="POST">
                <input class ="input_box" type="text" name = "octal" placeholder=" 8진수">
                <button class ="input_button" type="submit">submit</button>
           </form>
           <p>   &nbsp decimal = <%= octalTodeci %></p>
            <form action="/inputHexa" method="POST">
                <input class ="input_box" type="text" name = "hexa" placeholder=" 16진수">
                <button class ="input_button" type="submit">submit</button>
            </form>
            <p>   &nbsp decimal = <%= HexaTodeci %></p>
        </div>
    </body>
</html>
